body {
  background: #000428;
  background: linear-gradient(90deg, #004e92, #000428);
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h1 {
  color: #fff;
  font-size: 4.8rem !important;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  text-align: center;
}
h2 {
  color: #004e92;
  margin: 30px auto;
  font-size: 3rem !important;
}

label{
    font-size: 1.5rem !important;
    font-weight: bold;
    /* color: #000000df !important;    */
}

.header {
    background: #6871f4;
}

.container {
    color: black;
    background: #ebf3fb;
    border-radius: 15px;
    margin-top: 15px;
    background: #ebf3fb;
}

.container .row div.formulario{
    position: relative;
    border-radius: 15px;
    background: repeating-linear-gradient(to right, #add8e665, transparent,#add8e665);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 15px;
    padding: 50px 10px;
}


nav .brand-logo {
    display: block;
    text-align: center;
    position: relative
}

.result__container{
    background: repeating-linear-gradient(to right, #add8e665, transparent,#add8e665);
    box-shadow: 0px 0px 20px rgba(47, 10, 10, 0.808);
    padding-top: 1px;
}

.result__container > .row div{
    text-align: center;
    margin-bottom: 2rem ;
}

.result__container > .row div > span{
    font-family: "Raleway", sans-serif;
    display: flex;
    width: fit-content;
    margin: auto auto 5px auto;
    font-size: 1.3rem !important;
    color:#607d8b;
}

.result__container > .row div > span:nth-child(2){
    font-size: 1.5rem !important;
    font-weight: bold;
    color: #004e92;
}

.form.input-field input[type=number]:focus {
    border-bottom: 1px solid #004e92;
    box-shadow: 0 1px 0 0 #004e92;
}

.form.input-field input[type=number]:focus + label {
    color: #004e92;
}

.form.input-field .prefix.active {
    color: #004e92;
}

